body {
height: 100vh;
margin: 0;
padding: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
display: flex;
flex-direction: column;
}
header {
background-color: rgb(49, 69, 128);
text-decoration: none;

}
.headerlogo {
    color: darkgray;
    margin: 0;
    font-weight: bold;
}
.topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links {
    display: flex;
    gap: 15px;
    padding: 0;
   
}

ul {
list-style: none;
}
a {text-decoration: none;
color: darkgray;
}
.container-1 {
    background-color: rgb(49, 69, 128);
}
.container-2 {
    background-color: rgb(120, 120, 237);
}
.quotes {
    background-color: rgb(203, 244, 230);
}
.cta {
    background-color: rgb(236, 202, 139);
}
footer{
    background-color: rgb(49, 69, 128);
}
button {
    color: white;
    background-color: rgb(118, 118, 252);
    border-radius: 10px;
    padding: 4px 10px;
    border: 2px solid black;
}